body
{
	background-color:#FFF;
	color:#000;
	font:14px/22px "Helvetica Neue", Arial, Helvetica, sans-serif
}

a
{
	color:#666;
	text-decoration:none
}

a:hover
{
	color:#000
}

h1,h2,h3,h4,h5,h6
{
	font-weight:400
}

#page-wrapper,.region-bottom
{
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
	width:960px
}

#page
{
	padding:5px 10px 10px
}

input #edit-search-block-form--2
{
	border-color:gray
}

input #edit-submit
{
	background-color:#FFF
}

#header
{
	margin:5px 10px 10px
}

.region-header
{
	clear:both
}

#main-wrapper
{
	margin:0;
	position:relative
}

#content,.no-sidebars #content
{
	float:left;
	margin-left:0;
	margin-right:-960px;
	padding:0;
	width:960px
}

#content .section
{
	margin:0;
	padding:0 200px 0 0
}

div #logo
{
	background-color:#FFF;
	margin:0
}

a #logo
{
	border-color:#ddd;
	border-style:solid;
	border-width:1px 0;
	padding:15px 98px
}

#logo img
{
	padding-bottom:20px;
	padding-right:15px;
	vertical-align:bottom
}

#navigation
{
	float:left;
	height:430px;
	margin-left:0;
	margin-right:-100%;
	text-align:right;
	width:930px
}

.with-navigation #content
{
	margin-top:430px
}

.region-sidebar-first , .region-sidebar-second
{
	margin-top:439px
}

#navigation .section
{
	margin:0
}

#navigation li
{
	display:inline
}

#navigation li a
{
	color:#000;
	display:inline;
	float:right;
	font-size:1.6em;
	list-style:none;
	margin-left:40px;
	padding:40px 0 6px;
	text-decoration:none
}

.region-sidebar-first ul li
{
	list-style-image:none;
	list-style-type:none;
	margin:0;
	padding:0
}

#header,#content,#navigation,.region-sidebar-first,.region-footer,.region-bottom
{
	overflow:visible
}

.sidebar-first #content,.two-sidebars #content
{
	margin-left:240px;
	margin-right:-960px;
	width:690px
}

#secondary-menu,div #name-and-slogan
{
	display:none
}

.region-sidebar-first
{
	float:left;
	padding-top:15px;
	width:210px
}

.region-sidebar-second
{
	float:right;
	padding-top:27px;
	margin-left:25px;
	margin-right:20px;
	width:170px;
}

.region-sidebar-second h1
{
	font-size:1.4em;
}


.region-sidebar-first li a
{
	color:#000;
	display:block;
	font-size:1.2em;
	padding:10px 0 6px
}

.region-sidebar-first a.uplink
{
	font-size:1.4em;
	display: block;
	color: #000;
}

.region-footer .content
{
	border-top-color:#ccc;
	border-top-style:solid;
	border-top-width:2px;
	padding:0
}

.region-footer
{
	width:920px
}

#navigation li a:hover,#navigation li a.active-trail
{
	border-bottom:solid 2px #000
}

.region-sidebar-first li a.active,.region-sidebar-first li a:hover
{
	border-bottom:solid 2px #000;
	padding:10px 0 4px
}

#block-search-form, #navigation ul
{
	float:right
}

div #block-ddblock-2,.region-sidebar-first p
{
	padding-top:15px
}
